.body {
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    padding: 20px 30px;
}

.numberInput {
    margin-bottom: 20px;
}

select {
   margin-bottom: 20px;
}

.amount {
    margin-bottom: 20px;
}

button {
    margin-bottom: 20px;
}
